.stageButton {
    height: 90%;
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 600;
    background-color: transparent;
}

.stageButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}